body div {
	/*border: 1px solid red;*/
}

.pageTitle	{
	margin: 1em auto 0 auto;
	width: 30em;
	height: 3em;
	text-align: center;
}

.pageTitle h1 {
	margin: .5em auto;
	font-family: Petit Formal Script;
	color: darkred;
	font-size: 1.5em;
}
.menuArea	{
	background-color: lightgrey;
	margin: 0 auto 0 auto;
	width: 30em;
	height: 10em;
	text-align: center;
}
.menuArea select {
	margin: 8em 1em 1.5em 1em;
	width: 200px;
}
.imageArea	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 30em;
	height: 20em;
}
.imageArea div {
	margin: 0 0;
	width: 7.37em;
	height: 7.37em;
}
.imageArea div img {
	margin: 2em auto;
}
div>img.on {
	display: flex;
}
div img.off	{
	display: none;
}
