body div {
	/*border: 1px solid red;*/
}

.pageTitle	{
	margin: 2em auto 0 auto;
	width: 30em;
	height: 3em;
	text-align: center;
}

.pageTitle h1 {
	margin: .5em auto;
	font-family: Petit Formal Script;
	color: darkred;
	font-size: 1.5em;
}

.menuArea	{
	background-color: lightgrey;
	margin: 0 auto 0 auto;
	width: 30em;
	height: 10em;
	text-align: center;
}

select {
	margin: 6em 1em .5em 1em;
	width: 200px;
	/*height: 2em;*/
	border: 1px solid #111;
	background: white;
	font-size: .9em;
	border: 1px solid #111;
}

button:hover {
    border:3px solid lightsteelblue;
}
button:focus {
    outline: none;
}

.search	{
	margin: .5em auto;
	width: 100px;
	height: 2.25em;
	background-color: darkred;
	color: white;
	border: none;
}

.imageArea	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 30em;
	height: 20em;
}

.imageArea div {
	margin: 0 0;
	width: 7.37em;
	height: 7.37em;
}

.imageArea div img {
	margin: 2em auto;
}

div img.on {
	display: flex;

}

div img.off	{
	display: none;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }
